<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.guides">Guides</Crumb::Item>
	<Crumb::Item @link="docs.guides.strict-mode">Strict mode</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Build a Notes App with Next.js, Tailwind and SurrealDB</h2>
	<p>Coming soon</p>

	<p> Running in strict mode </p>
</Layout::Text>